    
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Forgot password - Andtourtravel</title>
    <!-- Bootstrap css -->
    {% include 'css.html' %}
</head>
<body>
    <!-- Header Area -->
    {% include 'header.html' %}
    <!-- preloader Area -->
    {% include 'loader.html' %}    
    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Forgot password</h2>
                        <ul>
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Forgot password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Common Author Area -->
    <section id="common_author_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="common_author_boxed">
                        <div class="common_author_heading">

                            <div class="center">
                                <form method="post" class="card">
                                  {% csrf_token %}
                                  <h2>Password Reset Confirm</h2>
                                  
                                  {% for field in form %}
                                            {{ field.label_tag }} 
                                            {{ field }}
                                            {% if field.errors %}
                                                <small>{{ field.errors|striptags  }}</small> 
                                            {% endif %}
                                    {% endfor %}
                                  <div>
                                    <button type="submit" class="btn btn-primary">Reset Password</button>
                                  </div>
                                </form>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    {% include 'footer.html' %}
    {% include 'js.html' %}
</body>
</html>

