{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<style>
    /* Add initial styling to the map container */
    #map { height: 60vh; width: 70%; margin-left: 25%; margin-top: 3%; }
    @media (max-width: 768px) {
        #map { height: 50vh; width: 90%; margin-left: 5%; margin-top: 3%; }
    }
</style>
{% endblock %}
{% block title%}Swan Tour hotels{% endblock %}
{% block dashboard %}
<div class="dashboard__main">
    <div class="dashboard__content">
        <div class="row y-gap-20 justify-between items-end pb-20 lg:pb-40 md:pb-32">
            <div class="col-auto">
                <h1 class="text-30 lh-14 fw-600">Add City</h1>
                <div class="text-15 text-light-1">Let's add a new city to Swan Tour.</div>
            </div>
        </div>
        <div class="py-30 px-30 rounded-4 bg-white custom_shadow">
            <form action="{% url 'add_city' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-xl-10">
                    <div class="border-top-light mt-30 mb-30"></div>
                    <div class="row x-gap-20 y-gap-20">
                        <div class="col-6">
                            <div class="form-input">
                                <label class="lh-1 text-16 text-light-1">Place Name</label>
                                <input type="text" name="name" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-input">
                                <label class="lh-1 text-16 text-light-1">State</label>
                                <select name="state" required>
                                    <option value="" disabled selected>Select state</option>
                                    {% for state in states %}
                                        <option value="{{ state.id }}">{{ state.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fw-500">Image</div>
                            <div class="form-input">
                                <input class="form-control form-control-lg" name="image" type="file">
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="map" style="height: 400px;"></div>
                            <div class="form-input mt-20">
                                <!-- <label class="lh-1 text-16 text-light-1">Location (Latitude, Longitude)</label> -->
                                <input type="hidden" name="location" id="location" readonly required>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="button h-50 px-24 -dark-1 bg-blue-1 text-white">Save Details</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    var map = L.map('map').setView([20.5937, 78.9629], 5); // India coordinates
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([0, 0], { draggable: true }).addTo(map); // Marker with draggable option

    // Update input field with marker position
    function updateMarker(latlng) {
        marker.setLatLng(latlng);
        var locationValue = JSON.stringify({ "lat": latlng.lat, "lng": latlng.lng });
        document.getElementById('location').value = locationValue;
    }

    // Update marker position on map click
    map.on('click', function(e) {
        updateMarker(e.latlng);
    });

    // Update marker position on marker drag
    marker.on('dragend', function(e) {
        updateMarker(e.target.getLatLng());
    });



    // Initialize marker position at the center of the map
    updateMarker(map.getCenter());
</script>

{% endblock %}
