<!-- Chat Popup -->
<div class="chat-popup" id="chat-popup">
    <div class="chat-popup-content">
        <div class="chat-popup-header">
            <div class="chat-popup-title">Chat With Us</div>
            <span class="close-chat-popup">&times;</span>
        </div>
        <div class="chat-popoup-body">
            <!-- chat content will go from here -->
            <div class="chat-messages">
                <!-- message is display here -->
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Type Message Here">
                <Button class="send-message-button">Send</Button>
            </div>
        </div>
    </div>
</div>