{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css part start-->
    <!-- Google fonts -->
    <link rel="preconnect" href="../../../../../fonts.googleapis.com/index.html">
    <link rel="preconnect" href="../../../../../fonts.gstatic.com/index.html" crossorigin>
    <link
    href="../../../../../fonts.googleapis.com/css2b24c.css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&amp;display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static '../../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' %}"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/logo.png' %}">

    <!-- css part end-->
    {% block css%} {% endblock %}

    <title>{% block title%}Swam Tour{% endblock %}</title>
</head>

<body data-barba="wrapper">

  <div class="preloader js-preloader">

  </div>

  <div class="header-margin"></div>
  <!-- header start from here -->
  <header data-add-bg="" class="header -dashboard bg-white js-header" data-x="header" data-x-toggle="is-menu-opened">
    <div data-anim="fade" class="header__container px-30 sm:px-20">
      <div class="-left-side">
        <a href="#!" class="header-logo" data-x="header-logo" data-x-toggle="is-logo-dark">
          <img src="{% static 'assets/img/logo.png' %}" alt="logo icon">
          <img src="{% static 'assets/img/logo.png' %}" alt="logo icon">
        </a>
      </div>
  
      <div class="row justify-between items-center pl-60 lg:pl-20">
        <div class="col-auto">
          <div class="d-flex items-center">
            <button data-x-click="dashboard">
              <i class="icon-menu-2 text-20"></i>
            </button>
  
            <div class="single-field relative d-flex items-center md:d-none ml-30">
              <input class="pl-50 border-light text-dark-1 h-50 rounded-8" type="email" placeholder="Search">
              <button class="absolute d-flex items-center h-full">
                <i class="icon-search text-20 px-15 text-dark-1"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-auto">  
          <div class="d-flex items-center">
            <div class="row items-center x-gap-5 y-gap-20 pl-20 lg:d-none">
              <div class="col-auto">
                <a href="{% url 'notification' %}">
                  <i class="icon-email-2 text-20"></i>
                </a>
              </div>
            </div>

            <div class="pl-15">
              <a href="{% url 'logout' %}">
              <img src="{% static 'img/avatars/3.png' %}" alt="image" class="size-50 rounded-22 object-cover"></a>
            </div>
            <a href="{% url 'home' %}">Go to website</a>

          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header end from here -->

  <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
    <!-- sidebar staet from here -->
    <div class="dashboard__sidebar bg-white scroll-bar-1">
      <div class="sidebar -dashboard">
        <div class="sidebar__item">
          <div class="sidebar__button">
            <a href="{% url 'dashboard' %}" class="d-flex items-center text-15 lh-1 fw-500">
              <i class="fas fa-border-all mr-15"></i>
              Dashboard
            </a>
          </div>
        </div>
        <div class="sidebar__item">
          <div class="sidebar__button">
            <a href="db-booking.html" class="d-flex items-center text-15 lh-1 fw-500">
              <i class="fas fa-cart-plus mr-15"></i>
              Booking history
            </a>
          </div>
        </div>

        <div class="sidebar__item ">
          <div class="accordion -db-sidebar js-accordion">
              <div class="accordion__item">
              <div class="accordion__button">
                  <div class="sidebar__button col-12 d-flex items-center justify-between">
                  <div class="d-flex items-center text-15 lh-1 fw-500">
                      <i class="fas fa-building mr-15"></i>
                      Manage Hotel
                  </div>
                  <div class="icon-chevron-sm-down text-7"></div>
                  </div>
              </div>
      
              <div class="accordion__content">
                  <ul class="list-disc pb-5 pl-40">
      
                  <li>
                      <a href="{% url 'db_hotel_list' %}" class="text-15">All hotels</a>
                  </li>
      
                  <li>
                      <a href="{% url 'new_hotel' %}" class="text-15">Add hotel</a>
                  </li>
                  </ul>
              </div>
              </div>
          </div>
        </div>
        <div class="sidebar__item ">
          <div class="accordion -db-sidebar js-accordion">
            <div class="accordion__item">
              <div class="accordion__button">
                <div class="sidebar__button col-12 d-flex items-center justify-between">
                  <div class="d-flex items-center text-15 lh-1 fw-500">
                    <i class="fas fa-flag  mr-15"></i>
                    Manage tour
                  </div>
                  <div class="icon-chevron-sm-down text-7"></div>
                </div>
              </div>

              <div class="accordion__content">
                <ul class="list-disc pb-5 pl-40">

                  <li>
                    <a href="{% url 'db_tour_list' %}" class="text-15">All tour</a>
                  </li>

                  <li>
                    <a href="{% url 'new_tour' %}" class="text-15">Add Group tour</a>
                  </li>
                  <li>
                    <a href="{% url 'add_repeat_tour' %}" class="text-15">Add Custom Tour</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__item ">
          <div class="accordion -db-sidebar js-accordion">
            <div class="accordion__item">
              <div class="accordion__button">
                <div class="sidebar__button col-12 d-flex items-center justify-between">
                  <div class="d-flex items-center text-15 lh-1 fw-500">
                    <i class="fas fa-bus-alt mr-15"></i>
                    Manage bus
                  </div>
                  <div class="icon-chevron-sm-down text-7"></div>
                </div>
              </div>

              <div class="accordion__content">
                <ul class="list-disc pb-5 pl-40">
                  <li>
                    <a href="db-vendor-bus.html" class="text-15">All bus</a>
                  </li>
                  <li>
                    <a href="{% url "new_bus" %}" class="text-15">Add bus</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__item ">
          <div class="accordion -db-sidebar js-accordion">
            <div class="accordion__item">
              <div class="accordion__button">
                <div class="sidebar__button col-12 d-flex items-center justify-between">
                  <div class="d-flex items-center text-15 lh-1 fw-500">
                    <i class="fas fa-bus-alt mr-15"></i>
                    Manage Place
                  </div>
                  <div class="icon-chevron-sm-down text-7"></div>
                </div>
              </div>

              <div class="accordion__content">
                <ul class="list-disc pb-5 pl-40">
                  <li>
                    <a href="{% url 'place_list' %}" class="text-15">All place</a>
                  </li>
                  <li>
                    <a href="{% url 'add_place' %}" class="text-15">Add place</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__item ">
          <div class="accordion -db-sidebar js-accordion">
            <div class="accordion__item">
              <div class="accordion__button">
                <div class="sidebar__button col-12 d-flex items-center justify-between">
                  <div class="d-flex items-center text-15 lh-1 fw-500">
                    <i class="fas fa-bus-alt mr-15"></i>
                    Manage City
                  </div>
                  <div class="icon-chevron-sm-down text-7"></div>
                </div>
              </div>

              <div class="accordion__content">
                <ul class="list-disc pb-5 pl-40">
                  <li>
                    <a href="{% url 'city' %}" class="text-15">All City</a>
                  </li>
                  <li>
                    <a href="{% url 'add_city' %}" class="text-15">Add City</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="sidebar__item">
          <div class="sidebar__button">
            <a href="db-wishlist.html" class="d-flex items-center text-15 lh-1 fw-500">
              <i class="fas fa-tags mr-15"></i>
              Wishlist
            </a>
          </div>
        </div> {% endcomment %}

        <div class="sidebar__item">
          <div class="sidebar__button">
            <a href="{% url 'profile' %}" class="d-flex items-center text-15 lh-1 fw-500">
              <i class="fas fa-user-circle  mr-15"></i>
              My profile
            </a>
          </div>
        </div>  

        <div class="sidebar__item">
          <div class="sidebar__button ">
            <a href="{% url 'logout' %}" class="d-flex items-center text-15 lh-1 fw-500">
              <i class="fas fa-sign-out-alt mr-15"></i>
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar staet from here -->

    <!--main block start from here-->

    {%  block dashboard %}
    {% endblock %}

    
    <!-- JavaScript start here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
    integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="{% static 'js/vendors.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  {% block js %}
    
  {% endblock %}
  {% comment %} <script src="{% static 'js/tour.js' %}"></script> {% endcomment %}
  <!-- javascript end here -->
  
</body>
</html>