{% load static %}
<!-- Bootstrap css -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">


<!-- animate css -->
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">

<!-- Fontawesome css -->
<link rel="stylesheet" href="{% static 'assets/css/fontawesome.all.min.css' %}" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- popup css -->
<link rel="stylesheet" href="{% static 'assets/css/popup.css' %}">


<!-- owl.carousel css -->
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

<!-- owl.theme.default css -->
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">


<!-- Slick css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.min.css' %}" />
<!--slick-theme.css-->
{% comment %} <link rel="stylesheet" type="text/html" href="{% static 'assets/css/slick-theme.html' %}" /> {% endcomment %}
<!-- Rangeslider css -->
<link rel="stylesheet" href="{% static 'assets/css/nouislider.css' %}" />

<!-- navber css -->
<link rel="stylesheet" href="{% static 'assets/css/navber.css' %}">
<!-- meanmenu css -->
<link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
<!-- Style css -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- Responsive css -->
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static 'assets/img/logo.png' %}">