{% load static %}
<footer id="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Need any help?</h5>
                </div>
                <div class="footer_first_area">
                    <div class="footer_inquery_area">
                        <h5>Call 24/7 for any help</h5>
                        <h3> <a href="tel:+00-123-456-789">+91 7569548324</a></h3>
                    </div>
                    <div class="footer_inquery_area">
                        <h5>Mail to our support team</h5>
                        <h3> <a href="mailto:support@domain.com">contact@swantour.in</a></h3>
                    </div>
                    <div class="footer_inquery_area">
                        <h5>Follow us on</h5>
                        <ul class="soical_icon_footer">
                            <li><a href="#!"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12"></div>
            <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Company</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% static testimonials.html %}">Testimonials</a></li>
                        <li><a href="{% static faqs.html %}">Rewards</a></li>
                        <li><a href="{% static terms_service.html %}">Work with Us</a></li>
                        <li><a href="{% static our_guides.html %}">Meet the Team </a></li>
                        <li><a href="{% static news.html %}">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Support</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                        <li><a href="{% static dashboard.html %}">Account</a></li>
                        <li><a href="{% static faq.html %}">Faq</a></li>
                        <li><a href="{% static testimonials.html %}">Legal</a></li>
                        <li><a href="{% url 'contact' %} ">Contact</a></li>
                        <li><a href="{% static top_destinations.html %}"> Affiliate Program</a></li>
                        <li><a href="{% static privacy_policy.html %}">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Top cities</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/tour/tour_search/?destination=Ahmedabad">Ahmedabad</a></li>
                        <li><a href="http://127.0.0.1:8000/tour/tour_search/?destination=srinagar">srinagar</li>
                        <li><a href="http://127.0.0.1:8000/tour/tour_search/?destination=Kutch">Kutch</li>
                        <li><a href="http://127.0.0.1:8000/tour/tour_search/?destination=Jaipur">Jaipur</a></li>
                        <li><a href="http://127.0.0.1:8000/tour/tour_search/?destination=Ayodhya">Ayodhya </a></li>
                        <li><a href="http://127.0.0.1:8000/tour/tour_search/?destination=Gulmarg">Gulmarg</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                <div class="copyright_left">
                    <p>Copyright © 2024 All Rights Reserved</p>
                </div>
            </div>
            <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                <div class="copyright_right">
                    <img src="{% static 'assets/img/common/cards.png' %}"  alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="go-top">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-up"></i>
</div>