  {% extends "base.html" %}
  {% load static %}
  {% block css %}
    <!-- CSS for select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/new_tour.css' %}">
  {% endblock %}

  {% block title %}Add Tour{% endblock %}

  {% block dashboard %}
  <div class="dashboard__main">
    <div class="dashboard__content">
      <div class="row y-gap-20 justify-between items-end pb-20 lg:pb-40 md:pb-32">
        <div class="col-auto">
          <h1 class="text-30 lh-14 fw-600">Add Tour</h1>
          <div class="text-15 text-light-1">Let's add a new tour to make Swan Tour bigger.</div>
        </div>
        <div class="col-auto"></div>
      </div>
      <div class="py-30 px-30 rounded-4 bg-white custom_shadow">
        <div class="tabs -underline-2 js-tabs">
          <div class="tabs__controls row x-gap-40 y-gap-10 lg:x-gap-20 js-tabs-controls">
            <div class="col-auto">
              <button class="tabs__button text-18 lg:text-16 text-light-1 fw-500 pb-5 lg:pb-0 js-tabs-button is-tab-el-active"
                data-tab-target=".-tab-item-1">Tour Information</button>
            </div>
            <div class="col-auto">
              <button class="tabs__button text-18 lg:text-16 text-light-1 fw-500 pb-5 lg:pb-0 js-tabs-button "
                data-tab-target=".-tab-item-2">Image</button>
            </div>
          </div>
          <div class="tabs__content pt-30 js-tabs-content">
            <form action="{% url 'new_tour' %}" id="new_tour_form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="tabs__pane -tab-item-1 is-tab-el-active">
                <div class="col-xl-10">
                  <div class="border-top-light mt-30 mb-30"></div>
                  <div class="row x-gap-20 y-gap-20">
                    <!-- ... other fields ... -->
                    <div class="col-6">
                      <div class="form-input">
                        <label for="name" class="lh-1 text-16 text-light-1">Name of the tour</label>
                        <input type="text" name="name" placeholder="Enter name" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Tour type</label>
                        <select class="form-control form-select bg_input" name="tour_type" required>
                          <option value="" disabled selected>Select tour type</option>
                          {% for tourtype in tourtypes %}
                          <option value="{{tourtype.id}}">{{tourtype.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Group size</label>
                        <input type="number" name="group_size" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input" style="height: 59px">
                        <label class="lh-1 text-16 text-light-1">Cities</label>
                        <select class="js-example-basic-multiple" id="city" name="city" multiple required>
                          {% for city in cities %}
                          <option value="{{ city.id }}">{{ city.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div id="selectedCount" class="select2-selection__rendered">Select an option</div>

                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Places</label>
                        <select class="form-control form-select bg_input js-example-basic-multiple" id="place" name="place" multiple required>
                          <!-- Options will be populated based on selected cities -->
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Map link</label>
                        <input type="url" name="map_link" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Overview</label>
                        <textarea name="overview" required></textarea>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Hotels</label>
                        <select class="form-control form-select bg_input js-example-basic-multiple" id="hotel" name="hotels" multiple required>
                          <!-- Options will be populated based on selected cities -->
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="form-control form-select bg_input" class="lh-1 text-16 text-light-1">Buses</label>
                        <select class="form-control form-select bg_input js-example-basic-multiple" name="buses" id="bus"   required>
                          {% for bus in buses %}
                          <option value="{{bus.id}}">{{bus.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input">
                        <label class="lh-1 text-16 text-light-1">Start Date</label>
                        <input type="date" id="startDate" name="start_date" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input">
                        <label class="lh-1 text-16 text-light-1">End Date</label>
                        <input type="date" id="endDate" name="end_date" required>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Total Price</label>
                        <input type="number" name="total_price" required>
                      </div>
                    </div>
                    <input type="hidden" name="rating" value=0>
                    <input type="hidden" name="no_of_day" id="no_of_day" value="">
                    <input type="hidden" id="itineraryJson" name="itineraries" value="" required>
                  </div>
                </div>
              </div>
              <div class="tabs__pane -tab-item-2">
                <div class="col-xl-10">
                  <div class="row x-gap-20 y-gap-20">
                    <div class="col-12">
                      <div class="form-input ">
                        <label class="lh-1 text-16 text-light-1">Tour Images</label>
                        <input class="form-control form-control-lg" name="images" multiple type="file">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-input" id="inputContainer"></div>
                    </div>
                  <div class="d-inline-block pt-30">
                    <button  class=" button h-50 px-24 -dark-1 bg-blue-1 text-white">
                      Save Changes
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include "db_footer.html" %}
    </div>
  </div>
  <!-- jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- JavaScript for select2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  <script>
  $(document).ready(function() {
    // Initialize select2 on city and place selects
    $('.js-example-basic-multiple').select2({
      width: '100%',
      placeholder: 'Select an option',
      allowClear: true,
      templateSelection: function(data, container) {
        if (data.selected.length > 1) {
          return data.selected.length + ' options selected';
        }
        return data.text;
      },
      escapeMarkup: function(markup) {
        return markup;
      }
    });

    // Event handler for city selection change
    $('#city').on('change', function() {
      var selectedCities = $(this).val();
      var placeSelect = $('#place');
      var hotelSelect = $('#hotel');

      placeSelect.empty().trigger('change');
      hotelSelect.empty().trigger('change');

      if (!selectedCities || selectedCities.length === 0) {
        placeSelect.append($('<option>').text('Select a City first'));
        hotelSelect.append($('<option>').text('Select a City first'));
        return;
      }

      selectedCities.forEach(cityId => {
        {% for place in places %}
        if ({{ place.city.id }} == cityId) {
          var option = new Option('{{ place.name }}, {{ place.city.name }}', '{{ place.id }}', false, false);
          placeSelect.append(option).trigger('change');
        }
        {% endfor %}
        {% for hotel in hotels %}
        if ({{ hotel.city.id }} == cityId) {
          var option = new Option('{{ hotel.hotelname }}, {{ hotel.city.name }}', '{{ hotel.id }}', false, false);
          hotelSelect.append(option).trigger('change');
        }
        {% endfor %}
      });

      updateSelect2SelectionCount('#city');
    });

    // Event handler for counting selected items
    $('.js-example-basic-multiple').on('change', function() {
      var selectedCount = $(this).val() ? $(this).val().length : 0;
      updateSelect2SelectionCount('#' + $(this).attr('id'));
    });

    // Function to update Select2 selection count
    function updateSelect2SelectionCount(selector) {
      var select2Selection = $(selector).next('.select2-container').find('.select2-selection__rendered');
      var selectedCount = $(selector).val() ? $(selector).val().length : 0;
      if (selectedCount > 1) {
        select2Selection.text(selectedCount + ' options selected');
      } else if (selectedCount === 1) {
        var selectedText = $(selector).find('option:selected').text();
        select2Selection.text(selectedText);
      } else {
        select2Selection.text('Select an option');
      }
    }

    // Call the update function initially for city select
    updateSelect2SelectionCount('#city');
  });
  </script>
{% endblock %}
{% block js %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const startDateInput = document.getElementById('startDate');
    const endDateInput = document.getElementById('endDate');
    const inputContainer = document.getElementById('inputContainer');
    

    function createInputs() {
      const startDate = new Date(startDateInput.value);
      const endDate = new Date(endDateInput.value);
      const oneDayInMilliseconds = 24 * 60 * 60 * 1000;
      const diffDays = Math.round(Math.abs((endDate - startDate) / oneDayInMilliseconds));
  
      function no_of_day() {
        document.getElementById('no_of_day').value = diffDays + 1;
      }
  
      no_of_day();
      inputContainer.innerHTML = '';
      for (let i = 0; i < diffDays + 1; i++) {
        const input = document.createElement('input');
        input.type = 'text';
        input.name = `day_${i + 1}`;
        input.placeholder = `Day ${i + 1}`;
        input.required = true;
        inputContainer.appendChild(input);
      }
    }
  
    startDateInput.addEventListener('change', createInputs);
    endDateInput.addEventListener('change', createInputs);
  
    document.getElementById('new_tour_form').addEventListener('submit', function(event) {
      alert("hello")
      const inputs = inputContainer.querySelectorAll('input');
      const data = {};
      inputs.forEach(input => {
        data[input.name] = input.value;
      });
      document.getElementById('itineraryJson').value = JSON.stringify(data);
      jsdata = JSON.stringify(data);
      conole.log(jsdata)
      alert(jsdata)
      conole.log(jsdata)
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
    // Set the min attribute for both startDate and endDate to today's date
    document.getElementById('startDate').setAttribute('min', today);
    document.getElementById('endDate').setAttribute('min', today);
  });
</script>
{% endblock %}








{% comment %} <script src="{% static 'js/new_tour.js' %}"></script> {% endcomment %}











