{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    {% include 'css.html' %}
        <!-- Slick css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.min.css' %}" />
        <!--slick-theme.css-->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick-theme.min.css' %}" />
        <style>
            .imgs_up{
                height: 550px;
                width: 1000px;
            }
            .imgs_bt{
                height: 100px;
                width: 140px;
            }
            .horizontal-scroll-contaner{
                overflow-x: auto;
                white-space: nowrap;
                padding-bottom: 20px;
            }
            .col-auto{
                display: inline-block;
                margin-right: 10px;
                vertical-align:top;
            }
        </style>
</head>

<body>
    <!-- preloader Area -->
    {% comment %} {% include 'loader.html' %} {% endcomment %}

    <!-- Header Area -->

    {% include 'header.html' %}
    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Explore the evergreen forest</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a href="tour-search.html">Tours</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Tours Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Search Areas -->
    <section id="tour_details_main" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tour_details_leftside_wrapper">
                        <div class="tour_details_heading_wrapper">
                            <div class="tour_details_top_heading">
                                <h2>{{ tour.name }}</h2>
                                <h5><i class="fas fa-map-marker-alt"></i> 
                                    {% for place in tour.place.all  %}
                                        {{ place.name }},
                                    {% endfor %}
                                    </h5>
                            </div>
                            <div class="tour_details_top_heading_right">
                                <h4>
                                    {% if tour.rating >= 5 %}
                                        <p>Excellent</p>
                                    {% elif tour.rating > 4 %}
                                        <p>Good</p>
                                    {% elif tour.rating > 3 %}
                                        <p>Average</p>
                                    {% else %}
                                        <p>Newly Added</p>
                                    {% endif %}
                                </h4>
                                <h6>{{ tour.rating }}/5</h6>
                                <p></p>
                            </div>
                        </div>
                        <div class="tour_details_top_bottom">
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Duration</h5>
                                    <p>{{ tour.no_of_day }} Days</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <image src="{{ tour.tour_type.image.url }}" alt="tour_type"/ type="icon">
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Tour type</h5>
                                    <p>{{ tour.tour_type }}</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Group size</h5>
                                    <p>{{ tour.group_size }} Pepole</p>
                                </div>
                            </div>
                            <div class="toru_details_top_bottom_item">
                                <div class="tour_details_top_bottom_icon">
                                    <i class="fas fa-map-marked"></i>
                                </div>
                                <div class="tour_details_top_bottom_text">
                                    <h5>Location</h5>
                                    <p>
                                        {% for city in tour.city.all  %}
                                            {{ city.name }},
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tour_details_img_wrapper">
                            <div class="slider slider-for">
                                {% for images in tour.tourimage_set.all %}
                                <div>
                                    <img class="imgs_up" src="{{ images.image.url }}" alt="img">
                                </div>
                                {% endfor %}
                                {% for i in tour.hotels.all  %}
                                    <div>
                                        <img class="imgs_up" src="{{ i.hotel_image.url }}" alt="img">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="slider slider-nav">
                                {% for images in tour.tourimage_set.all %}
                                <div>
                                    <img class="imgs_bt" src="{{ images.image.url }}" alt="img">
                                </div>
                                {% endfor %}
                                {% for i in tour.hotels.all  %}
                                    <div>
                                        <img class="imgs_bt" src="{{ i.hotel_image.url }}" alt="img">
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Overview</h3>
                            <div class="tour_details_boxed_inner">
                                <p>
                                    {{ tour.overview }}
                                </p>
                                </ul>
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Itinerary</h3>
                            <div class="tour_details_boxed_inner">
                                <div class="accordion" id="accordionExample">
                                    {% for day, itinerary in itineraries.items %}
                                    <div class="accordion_flex_area">
                                        <div class="accordion_left_side">
                                            <h5>day {{ forloop.counter }}</h5>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                                    aria-controls="collapse{{ forloop.counter }}">
                                                    day {{ forloop.counter }}
                                                </button>
                                            </h2>
                                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse show"
                                                aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="accordion_itinerary_list">
                                                        <ul>
                                                            <li>
                                                                <i class="fas fa-circle"></i>
                                                                {{ itinerary }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Included/Excluded</h3>
                            <div class="tour_details_boxed_inner">
                                <p>
                                    Stet clitaStet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                                    sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod.
                                </p>
                                <ul>
                                    <li><i class="fas fa-circle"></i>Buffet breakfast as per the Itinerary</li>
                                    <li><i class="fas fa-circle"></i>Visit eight villages showcasing Polynesian culture
                                    </li>
                                    <li><i class="fas fa-circle"></i>Complimentary Camel safari, Bonfire, and Cultural
                                        Dance at Camp</li>
                                    <li><i class="fas fa-circle"></i>All toll tax, parking, fuel, and driver allowances
                                    </li>
                                    <li><i class="fas fa-circle"></i>Comfortable and hygienic vehicle (SUV/Sedan) for
                                        sightseeing on all days as per the itinerary.</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="horizontal-scroll-contaner">
                                <section id="destinations_area" class="section_padding_top">
                                    <div class="container">
                                        <!-- Section Heading -->
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="section_heading_center">
                                                    <h2>Hotel Included in Tour</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 offset-lg-1">
                                                <div class="theme_nav_tab">
                                                    <nav class="theme_nav_tab_item">
                                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                            {% for hotel in tour.hotels.all %}
                                                            <button class="nav-link" id="nav-{{hotel.hotelname}}-tab" data-bs-toggle="tab"
                                                                data-bs-target="#nav-{{hotel.hotelname}}" type="button" role="tab" aria-controls="nav-{{hotel.hotelname}}"
                                                                aria-selected="true">{{hotel.city.name}}</button>
                                                            {% endfor %}
                                                        </div>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="tab-content" id="nav-tabContent1">
                                                    {% for hotel in tour.hotels.all %}
                                                    <div class="tab-pane fade show active" id="nav-{{hotel.hotelname}}" role="tabpanel"
                                                        aria-labelledby="nav-{{ hotel.hotelname }}-tab">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <div class="tab_destinations_boxed">
                                                                    <div class="tab_destinations_img">
                                                                        <a href="#"><img
                                                                                src="{{ hotel.hotel_image.url }}" alt="img"></a>
                                                                    </div>
                                                                    <div class="tab_destinations_conntent">
                                                                        <h3>
                                                                            <a href="top-destinations.html">{{hotel.hotelname}} </a>
                                                                        </h3>
                                                                        <p>Near to <span>{{ hotel.place }}</span></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                    {% endfor  %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Tours location</h3>
                            <div class="map_area">
                                <iframe
                                    src="{{ tour.map_link }}"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>Standard package</h3>
                                </div>
                                <div class="valid_date_area">
                                    <div class="valid_date_area_one">
                                        {% if tour.start_date == '' %}
                                        <h5>Tour End Date</h5>
                                        <p>{{ tour.start_date }}</p>      
                                        {% else %}
                                                                          
                                        {% endif %}
                                        <h5>Tour Start Date</h5>
                                        {% comment %} {% if tour.start_date == None %} {% endcomment %}


                                        <p>{{ tour.start_date }}</p>
                                    </div>
                                    <div class="valid_date_area_one">
                                        <h5>Tour End Date</h5>
                                        <p>{{ tour.end_date }}</p>
                                    </div>
                                </div>
                                <div class="tour_package_details_bar_list">
                                    <h5>Package details</h5>
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Buffet breakfast as per the Itinerary</li>
                                        <li><i class="fas fa-circle"></i>Visit eight villages showcasing Polynesian
                                            culture
                                        </li>
                                        <li><i class="fas fa-circle"></i>Complimentary Camel safari, Bonfire,</li>
                                        <li><i class="fas fa-circle"></i>All toll tax, parking, fuel, and driver
                                            allowances
                                        </li>
                                        <li><i class="fas fa-circle"></i>Comfortable and hygienic vehicle</li>
                                    </ul>
                                </div>
                                <div class="tour_package_details_bar_price">
                                    <h5>Price</h5>
                                    <div class="tour_package_bar_price">
                                        {% comment %} <h6><del>₹</del></h6> {% endcomment %}
                                        <h3>₹{{tour.total_price}} <sub>/Per serson</sub> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="tour_select_offer_bar_bottom">
                                <button class="btn btn_theme btn_md w-100" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Select
                                    offer</button>
                            </div>
                        </div>

                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>Why choose us</h3>
                                </div>

                                <div class="tour_package_details_bar_list first_child_padding_none">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Buffet breakfast as per the Itinerary</li>
                                        <li><i class="fas fa-circle"></i>Visit eight villages showcasing Polynesian
                                            culture
                                        </li>
                                        <li><i class="fas fa-circle"></i>Complimentary Camel safari, Bonfire,</li>
                                        <li><i class="fas fa-circle"></i>All toll tax, parking, fuel, and driver
                                            allowances
                                        </li>
                                        <li><i class="fas fa-circle"></i>Comfortable and hygienic vehicle</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="write_your_review_wrapper">
                        <h3 class="heading_theme">Write your review</h3>
                        <div class="write_review_inner_boxed">
                            <form action="" id="news_comment_form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-froup">
                                            <input type="text" class="form-control bg_input"
                                                placeholder="Enter full name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-froup">
                                            <input type="text" class="form-control bg_input"
                                                placeholder="Enter email address">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-froup">
                                            <textarea rows="6" placeholder="Write your comments"
                                                class="form-control bg_input"></textarea>
                                        </div>
                                        <div class="comment_form_submit">
                                            <button class="btn btn_theme btn_md">Post comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer  -->
    {% include 'footer.html' %}
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>


    <!-- Offcanvas Area -->
    <div class="offcanvas select_offer_modal offcanvas-end" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Book now</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="side_canvas_wrapper">
                <h2>{{ tour.name }} </h2>
                <h3 class="alert alert-danger">{{ message }}</h3>
                <div class="select_person_side">
                    <h3>Select person</h3>
                    <p>available seat: {{ tour.get_available_group_size }}</p>
                    <div class="select_person_item">
                        <div class="select_person_left">
                            <h6>Adult</h6>
                            <p>12y+</p>
                        </div>
                        <div class="select_person_right">
                            <div class="button-set">
                                <button type="button" class="increment">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <input type="hidden">
                                <span class="count">01</span>
                                <button type="button" class="decrement">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-froup">
                    </div>
                    <div class="form-check write_spical_check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultf1" checked>
                        <label class="form-check-label" for="flexCheckDefaultf1">
                            <span class="main_spical_check">
                                <span>I read and accept all <a href="">Terms and conditions</a></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
                
            <form action="{% url 'tour_booking_session' slug=tour.tour_slug %}" method="POST" id="systemForm">
                    {% csrf_token %}
                    <input type="hidden" value="{{ tour.id }}" name="tour_id">
                    <input type="hidden" value="1" class="no_of_people_booking" name="no_of_people_booking">
                    <!-- Updated "form" attribute to match the form ID -->                
                    <button type="submit" 
                    {% if message is not None %}disabled{% endif %}
                    value="proceed_for_booking" form="systemForm" class="btn btn_theme btn_md w-100">Proceed to Booking</button>
            </form>
        </div>
    </div>

    {% include 'js.html' %}
    <!-- Slick js -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script>
        const decrementButton = document.querySelector('.decrement');
        const incrementButton = document.querySelector('.increment');
        //const proceed = document.querySelector('.proceed_for_booking')
        const countElement = document.querySelector('.count');
        const peopleElement = document.querySelector('.no_of_people_booking');
        let count = parseInt(countElement.textContent); // Initialize count from the displayed value
        
        decrementButton.addEventListener('click', () => {
            if (count > 1) { // Ensure the count does not go below 1
                count--;
                updateCount();
            }
        });
        
        incrementButton.addEventListener('click', () => {
            if (count < {{ tour.get_available_group_size }}) {
                count++;
                updateCount();
            }
        });
        
        function updateCount() {
            countElement.textContent = count;
            peopleElement.value = count; // Update the value of the input field
            //updateLocale();
        }
        function updateLocale() {
            localStorage.setItem('no_of_people_booking', count); // Update
            localStorage.setItem('tour_id', {{ tour.id}}); // Update
        }
    </script>
</body>
</html>