{% extends "base.html" %}
{% block title%}Swan Tour hotels{% endblock %}
{%  block dashboard %}
<div class="dashboard__main">
  <div class="dashboard__content">
    <div class="row y-gap-20 justify-between items-end pb-20 lg:pb-40 md:pb-32">

      <div class="col-auto">

        <h1 class="text-30 lh-14 fw-600">All Tour              
          <a href="{% url 'new_hotel' %}" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">
          Add New Tour
        </a></h1>
      </div>
      <div class="text-15 text-light-1">Add new tour tonake swan tour more and more bigger</div>

      <div class="col-auto">

      </div>
    </div>
    <div class="py-30 px-30 rounded-4 bg-white custom_shadow">
      <div class="tabs -underline-2 js-tabs">
        <div class="tabs__controls row x-gap-40 y-gap-10 lg:x-gap-20 js-tabs-controls">
          <div class="col-auto">
            <button class="tabs__button text-18 lg:text-16 text-light-1 fw-500 pb-5 lg:pb-0 js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">All hotels</button>
          </div>
        </div>
        <div class="tabs__content pt-30 js-tabs-content">
            <div class="overflow-scroll scroll-bar-1">
              <table class="table-4 -border-bottom col-12">
                <thead class="bg-light-2">
                  <tr>
                    <th>id</th>
                    <th>Tour name</th>
                    <th>Tour Type</th>
                    <th>Group Size</th>
                    <th>City</th>
                    <th>Place</th>
                    <th>Rating</th>
                    <th>No of Day</th>
                    {% comment %} <th>Itinerary</th> {% endcomment %}
                    <th>Hotel</th>
                    <th>Bus</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Price</th>
                    {% comment %} <th>Action</th> {% endcomment %}
                  </tr>
                </thead>
                <tbody>
                    {% for tour in tours %}
                    <tr>
                      <td>{{ tour.id }}</td>
                      <td>{{ tour.name }}</td>
                      <td>{{ tour.tour_type }}</td>
                      <td>{{ tour.group_size }}</td>
                      <!-- Include many-to-many fields -->
                      <td>
                        {% for city in tour.city.all %}
                          {{ city.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        {% for place in tour.place.all %}
                          {{ place.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </td>
                      {% comment %} <td>{{ tour.map_link }}</td> {% endcomment %}
                      <td>{{ tour.rating }}</td>
                      {% comment %} <td>{{ tour.overview }}</td> {% endcomment %}
                      <td>{{ tour.no_of_day }}</td>
                      {% comment %} <td>{{ tour.Itinerary }}</td> {% endcomment %}
                      {% comment %} <td>{{ tour.Itineratys }}</td> {% endcomment %}
                      <td>
                        {% for hotel in tour.hotels.all %}
                          {{ hotel.hotelname }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        {% for bus in tour.buses.all %}
                          {{ bus.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </td>
                      <td>{{ tour.start_date }}</td>
                      <td>{{ tour.end_date }}</td>
                      {% comment %} <td>{{ tour.tour_image }}</td>
                      <td>{{ tour.image_2 }}</td>
                      <td>{{ tour.image_3 }}</td> {% endcomment %}
                      <td>{{ tour.total_price }}</td>
                      <td>
                        {% comment %} <a href="{% url 'tour_update' tour.id %}">Update</a>
                        <a href="{% url 'tour_delete' tour.id %}">Delete</a> {% endcomment %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    {% include "db_footer.html" %}
  </div>
</div>

{% endblock %}





<!-- <div class="pt-30">
  <div class="row justify-between">
    <div class="col-auto">
      <button class="button -blue-1 size-40 rounded-full border-light">
        <i class="icon-chevron-left text-12"></i>
      </button>
    </div>

    <div class="col-auto">
      <div class="row x-gap-20 y-gap-20 items-center">

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full">1</div>

        </div>

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full bg-dark-1 text-white">2</div>

        </div>

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full">3</div>

        </div>

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full bg-light-2">4</div>

        </div>

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full">5</div>

        </div>

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full">...</div>

        </div>

        <div class="col-auto">

          <div class="size-40 flex-center rounded-full">20</div>

        </div>

      </div>
    </div>

    <div class="col-auto">
      <button class="button -blue-1 size-40 rounded-full border-light">
        <i class="icon-chevron-right text-12"></i>
      </button>
    </div>
  </div>
</div> -->